<div class="detail-page" *ngIf="detail">
  <div class="detail-page-title">用户:{{detail.username}}
    <span *ngIf="detail.deletedFlag" style="color: red;">(已删除)</span></div>
  <div class="detail-page-operators">
    <button nz-button class="detail-page-operator" nzType="primary"
            *appOperator="{code:'userRoleSet',data:detail}">
      设置角色
    </button>
    <button nz-button class="detail-page-operator" nzType="danger"
            *appOperator="{code:'userDelete',data:detail}"
            (click)="removeUser()">
      删除
    </button>
  </div>
  <nz-tabset (nzSelectedIndexChange)="selectIndexChange($event)"
             [(nzSelectedIndex)]="selectedIndex">
    <nz-tab nzTitle="详情">详情</nz-tab>
    <nz-tab nzTitle="所属部门">
      <app-department-tab tab="user" [userId]="detail.id"></app-department-tab>
    </nz-tab>
    <nz-tab nzTitle="所管理部门">
      <app-department-tab tab="admin" [adminId]="detail.id"></app-department-tab>
    </nz-tab>
    <nz-tab nzTitle="详情">详情</nz-tab>
  </nz-tabset>
</div>
