<button nz-button nzType="primary" *appOperator="{code:'userAdd'}">添加用户</button>

<nz-table style="background: white" #table nzSize="small" nzBordered
          [nzData]="data" nzFrontPagination="false" [nzTotal]="total"
          [nzPageIndex]="pageIndex" (nzPageIndexChange)="pageIndexChange($event)"
          [nzPageSize]="pageSize" (nzPageSizeChange)="pageSizeChange($event)"
          [nzPageSizeOptions]="[10,20,30]" nzShowSizeChanger="true"
          [nzLoading]="loading">
  <thead>
  <tr>
    <th>序号</th>
    <th>用户名</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let d of table.data;let i = index;">
    <td>{{ i + 1 + this.pageSize * (this.pageIndex - 1)}}</td>
    <td>{{ d.username }}</td>
  </tr>
  </tbody>
</nz-table>
