<nz-table style="background: white" #table nzSize="small" nzBordered
          [nzData]="data" nzFrontPagination="false"
          [nzPageIndex]="pageIndex" (nzPageIndexChange)="pageIndexChange($event)"
          [nzPageSize]="pageSize" (nzPageSizeChange)="pageSizeChange($event)"
          [nzPageSizeOptions]="[10,20,30]" nzShowSizeChanger="true"
          [nzLoading]="loading"
          [nzTotal]="total">
  <thead>
  <tr>
    <th>序号</th>
    <th>用户名</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let d of table.data;let i = index;">
    <td>{{ i + 1}}</td>
    <td>{{ d.username }}</td>
    <td>详情</td>
  </tr>
  </tbody>
</nz-table>
